    <div class="credits text-center">

        <p>
            <a href="https://bitbucket.org/Valera1996/mean1">MEAN Stack CRUD with User Registration and Login Example</a>
        </p>

    </div>
</body>
</html>