body {
    padding: 20px 0;
    background-color: #edeae1;
}
.flash-message {
    margin-top: 20px;
}
#nav{
    color: black;
    background-color: #FFF;
    box-shadow: 0 16px 10px -12px rgba(0,0,0,0.3);
    border: 0;
}
.headerSearchButton{
    margin:15px;
}
.setItems {
    margin: 20px 20px;
    float: right;
}
.modalInput {
    margin: 16px 0 0 0;
}
.worktime {
    padding-left:0px;
}
.menu {
    text-transform: uppercase ;
}
.addButton {
    margin: 37px;
}
.setItems {
    margin: 20px 45px;
    float: right;
}
.modalInput {
    margin: 16px 0 0 0;
}
.userModalInput {
    margin: 16px 0 10px 0;
}
.globalText {
    text-align: center;

    font-family: 'Lato', 'Arial', sans-serif;
}
.modalText {
    text-transform: uppercase;
    padding-top: 20px;
}
.btn.btn-raised.btn-primary
{
    background-color: #665851;
    color:white;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary
{
    background-color: #665851;
    color:white;
}
.btn.btn-raised:not(.btn-link):focus.btn-primary
{
    background-color: #665851;
    color:white;
}
.btn.btn-raised:not(.btn-link):active.btn-primary
{
    background-color: #665851;
    color:white;
}
.firstRow
{
    background-color:#665851;
    color:white;
}
.newRow
{
    background-color:#665851;
    color:white;
    text-align: center;
    font-size: 28px;
    padding:15px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    background-color: #665851;
    border-color: #665851;
    color:black;
}
.pagination>li>a, .pagination>li>a:hover
{
    color: black;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
    color:black !important;
}
.form-group {
    margin:  0;
}
.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary
{
    color: #000;
}
.genderRow
{
    margin-left:20%;
}

