﻿body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}
#nav{
    color: black;
    background-color: white;
    box-shadow: 0 16px 10px -12px rgba(0,0,0,0.3);
    border: 0;
}

.setItems {
    margin: 20px 20px;
    float: right;
}

.modalInput {
    margin: 16px 0 0 0;

}
.worktime {

    padding-left:0px;
}
.menu {
    text-transform: uppercase ;

}
.addButton {
    margin: 20px;

}