<div class="navbar navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header">
            <a class=" navbar-brand globalText" href="#"><b>List of workers</b></a>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchWord" placeholder="Search">
            </div>

        </div>
    </div>

</div>
</div>
<!--List of workers-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">

                <table class="table  table-striped" id="example" class="table table-striped table-bordered">

                    <thead>
                    <tr class="firstRow">
                        <th class="globalText">Name</th>
                        <th class="globalText">Patronymic</th>
                        <th class="globalText">Surname</th>
                        <th class="globalText">Post</th>
                        <th class="globalText">Gender</th>
                        <th class="globalText">Tel. number</th>
                        <th class="globalText">Working hours</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr class="globalText" ng-repeat="worker in workers | filter: searchWord">

                        <td>{{worker.name}}</td>
                        <td>{{worker.patronymic}}</td>
                        <td>{{worker.surname}}</td>
                        <td>{{worker.post}}</td>
                        <td>{{worker.sex}}</td>
                        <td>{{worker.phone}}</td>
                        <td>{{worker.work_start }} – {{worker.work_stop}}</td>


                    </tr>
                    </tbody>
                </table>
                <!--Pagination-->
                <div class="row">

                    <div class="col-md-6">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            ng-change="pageChanged()"></ul>
                    </div>

                    <!--Setting items per page-->
                    <div class="col-md-6 ">
                        <div class="setItems">
                            Show <select ng-init="viewby = '3'" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                            records at a time.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>