<div class="container">
    <div class="top">
        <h1  class="hidden"><span >Daily <span>UI</span></span></h1>
    </div>
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>User`s information</h2>
        </div>
        <label >Username</label>
        <br/>
        <input ng-model="worker.username" type="text" >
        <br/>
        <label >Password</label>
        <br/>
        <input ng-model="worker.password" type="password" >
        <br/>
        <label >Name</label>
        <br/>
        <input ng-model="worker.name" type="text" >
        <br/>

        <label >Surname</label>
        <br/>
        <input ng-model="worker.surname" type="text" >
        <br/>

        <label >Patronymic</label>
        <br/>
        <input ng-model="worker.patronymic" type="text" >
        <br/>

        <label >Gender</label>
        <br/>
        <div class="row genderRow">
        <div class="col-md-4 userModalInput">
        <input  type="radio" name="answer" value="female" ng-model="worker.gender"/>female
        </div>

        <div class="col-md-4 userModalInput">
        <input  type="radio" name="answer" value="male" ng-model="worker.gender"/>male

        </div>
        </div>

        <label class=" control-label">Phone number</label>
        <div>
        <input class="userModalInput" type="text" ui-mask="+3(099) 999-99-99"
        ng-model="worker.phone" model-view-value="true">
        </div>

        <div class="col-md-12 worktime">

        <div class="form-group">
        <label class="col-md-4 control-label">Start of workday</label>
        <div class="col-md-8 userModalInput">
        <input type="text" class="form-control" size="8"
        ng-model="worker.work_start" bs-timepicker
        data-time-format="HH:mm" data-time-type="string" data-length="1"
        data-minute-step="1" data-arrow-behavior="picker">
        </div>
        </div>

            <div class="form-group">
                <label class="col-md-4 control-label">End of workday</label>
                <div class="col-md-8 userModalInput">
                    <input type="text" class="form-control" size="8"
                           ng-model="worker.work_stop" bs-timepicker
                           data-time-format="HH:mm" data-time-type="string" data-length="1"
                           data-minute-step="1" data-arrow-behavior="picker">
                </div>
            </div>

        </div>

        <button ng-click="save(worker)"  type="submit">Save</button>
        <a href="#/login"> <button ng-click="logout()" type="submit">Log out</button></a>
        <br/>
    </div>
</div>﻿﻿

        <!--<div class="col-md-4 worktime">-->
        <!--<div class="form-group"-->
        <!--ng-class="{ 'has-error': !worker.work_start, 'has-success': worker.work_start}">-->

        <!--<label class="col-md-4 control-label">Start of workday</label>-->


        <!--<div class="col-md-8 userModalInput">-->

        <!--<input type="text" class="form-control" size="8"-->
        <!--ng-model="worker.work_start" bs-timepicker-->
        <!--data-time-format="HH:mm" data-time-type="string" data-length="1"-->
        <!--data-minute-step="1" data-arrow-behavior="picker">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
        <!--<div class="form-group"-->
        <!--ng-class="{ 'has-error': !worker.work_stop, 'has-success': worker.work_stop}">-->

        <!--<label class="col-md-4 control-label">End of workday</label>-->

        <!--<div class="col-md-8 userModalInput">-->

        <!--<input type="text" class="form-control" size="8" ng-model="worker.work_stop"-->
        <!--bs-timepicker-->
        <!--data-time-format="HH:mm" data-time-type="string" data-length="1"-->
        <!--data-minute-step="1" data-arrow-behavior="picker">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <!--<div class="form-group">-->
            <!--<button class="btn btn-primary" ng-click="saveUser()">Save</button>-->
            <!--<a href="#/login"><button class="btn btn-danger" ng-click="logout()">logout</button></a>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
